.character-profile {
	margin: 1rem;
}

.character-profile img {
    width: 150px;
}

.character-profile .info {
   display: inline-block;
   margin-left: 1rem;
   max-width: 45%;
}

.character-profile .info .name {
  font-size: 1.25rem;
  font-weight: bold;
}
