form {
   border: thin solid #ddd;
   background-color: #fbfbfb;
   padding: 2rem;
   margin-left: 1rem;
   margin-bottom: 2rem;
   display: flex;
   flex-wrap: wrap;
   justify-content: center;
   width: 50%;
}

input {
   margin: 1rem;
   width: 40%;
   height: 1.7rem;
}

button {
   height: 2rem;
   align-self: center;
}

.item {
   flex-basis: 100%;
}

.break {
   height: 0;
}

.statusMessage{
   margin-left: 1rem;
   margin-top: -0.6rem;
   font-size: 0.8rem;
}